body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: 500;
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom: 20px;
}

.sudoku-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

hr {
    width: 30%; 
    border-color: #ccc; 
}

table {
    border: 2px solid #ccc; 
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff; 
}

.cell {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd; 
    font-size: 1.2rem; 
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}

table tr:nth-child(3n) td,
table tr:nth-child(3n+3) td {
    border-bottom: 2px solid #ccc; 
}

table td:nth-child(3n) {
    border-right: 2px solid #ccc; 
}

input {
    outline: none;
    width: 100%; 
    box-sizing: border-box; 
    padding: 5px; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1rem; 
    background-color: #fff; 
    color: #333; 
    border: 1px solid #333; 
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #1565C0; 
    color: #fff; 
    border-color: #1565C0; 
}

.solved {
    background-color: lightgreen;
    transition: background-color 0.2s ease-in-out;
}
